.comments {
  margin:-40px 70px 0 70px;
  padding:0;
  position: static;
  &__box {
    display: flex;
    position: relative;
    width: 100%;
    button {
      border:none;
      background-color:transparent;
    }
    /* button#prev {
      top:40px;
      left:10px;
    }
    button#next {
      top:40px;
      right:-45px;
    } */
    &__item {
      border: 1px solid @comments__border;
      width:630px;
      margin: auto;
      margin-bottom:10px;
      padding:10px 10px;
    }
    &__photo {
      float:left;
      margin: auto 20px;
      width: 185px;
      height: 178px;
    }
    #comimg1  {
      .background(contain,none,'../images/test-3.png',50%);
    }
    #comimg2  {
      .background(contain,none,'../images/test-2.png',50%);
    }
    #comimg3  {
      .background(contain,none,'../images/test-1.png',50%);
    }
    &__text{
      width:600px;
      text-align:justify;
    }
    &__name {
      text-align:left;
      font-size:30px;
      margin:5px;
    }
  }
  &__pagination {
    width:150px;
    margin:0 auto;
    display: flex;
    position: relative;
    div {
      display:block;
      background-color:transparent;
      border-radius:50%;
      border: none;
      width: 10px;
      height: 10px;
      margin: 6px 10px;
      background-color: #cdcdcd;
    }
    div.active {
      width: 15px;
      height: 15px;
      margin: 3px 10px;
      background-color:@comments__button;
    }
  }
}
