
body{
  background-color: #9a9a9a;
}
.container {
  margin: 0 auto;
  background-color: #fff;
   width: 80%;
  height: 5000px;
  position: static;
}
section{ 
   width: 100%;
}
.wrapper {
   margin: 10px auto;
   width: 850px;
   position: static;
}
#section1{
   margin:0;
   position:relative;
   height:650px;
}
#section1 div#circle1{
   top:0;
   left: 0;
   background-color:rgb(145,170,89);
   color:white;
  border-radius: 0 0 100% 0;
border-bottom: 34px solid rgb(145,170,89);
padding: 50px 100px;
margin-right: 25%;
}
#info{
   text-align:left;
   margin-top: -55px;
   margin-left: -25px;
   width: 550px;
}
#info h1{
   font-size:55px;
   text-transform:uppercase;
   font-weight:100;
   margin-bottom: 0;
} 
#info p{
   font-size:20px;
      margin-top:0;
}
#btn-order{
   font-size:27px;
   background-color:transparent;
   border-radius:40px;
   color:white;
   border:3px solid white;
   padding:10px 30px;
   margin-top:0;
}
section h2 {
   position: relative;
   margin-left: 35px;
   width:90%;
   font-size:30px;
   font-weight:bold;
}
section h2::after {
   content: ' ';
   position: absolute;
   width:25px;
   height:10px;
   border-top:2px solid black;
   top:15px;
   left:-35px;
}
#section1 #photo1{
   position:absolute;
   top:40px;
   right:0;
   width: 650px;
   height: 650px;
    background-image: url('../images/photo1.png');
    background-clip: cover;
    background-repeat: no-repeat;
    background-position: center center;
    	
}
#phone1{
   position:absolute;
   top:30px;
   left:670px;
   color:black;
   font-weight:600;
   width:160px;
}
#c1{
   position:absolute;
   top:55px;
   left:970px;
   width:80px;
   height:80px;
   background-color:rgb(205,230,149);
   border-radius:50%;
}
#c2{
   position:absolute;
   top:125px;
   left:850px;
   width:80px;
   height:80px;
   background-color:rgb(205,230,149);
   border-radius:50%;	
  
   
}
#c3{
   position:absolute;
   top:57%;
   left:61%;
   width:303px;
   height:303px;
   background-color:rgb(205,230,149);
   border-radius:50%;
   background-image: url('../images/photo2.png');
   background-clip: cover;
   background-repeat: no-repeat;
   background-position: center center;
   z-index: 20;
}
#c4 {
   position:relative;
   top:0;
   left:0;
   width:156px;
   height:156px;
   background-color:rgb(205,230,149);
   border-radius:50%;
   background-image: url('../images/photo3.png');
   background-clip: cover;
   background-repeat: no-repeat;
   background-position: center center;
   z-index: 30;
}
#section2 {
   height: 300px;
   position: relative;
   margin-top: 100px;
}

p{
   font-size:20px;
   width:440px;
}
p a{
   color:rgb(105,130,49);
   text-decoration:none;
   text-transform:uppercase;   
}
p a span{
   padding-left:15px;
}

#c4{
   position:absolute;
   left:470px;
   top:1050px;
}
#orders{
   display:flex;
   justify-content:space-around;
   width:100%;
   padding:0 90px;
}
#orders div{
   width:250px;
   margin-right:10px;
   
}
#order1{
   background-color:rgb(215,240,159);
}
#order2{
   background-color:rgb(195,220,139);
}
#order3{
   background-color:rgb(175,200,119);
}
.numbers{
   position:relative;
   font-size:120px;
   z-index:10;
   color:rgba(225,250,169,0.6);
   margin-left:80px;
}
.orderinfo{
   position:relative;
   z-index:20;
   font-size:25px;
   color:white;
   margin-top:-90px;
   margin-left:20px;
}
.orderinfo h3{
   text-transform:lowercase;
   margin-bottom:0;
   font-size:17px;
}
h4{
   margin-top:-5px;
   text-transform:uppercase;
   font-size:25px;
}
.price{
    margin-top:-20px;
    font-weight:600;
}
.orderinfo button{
   font-size:20px;
   background-color:transparent;
   border-radius:40px;
   color:white;
   border:3px solid white;
   padding:5px 30px;
   margin-top:30px;
   margin-bottom:50px; 
}
/*#section2{
   padding:0;
   margin:0 auto;
}
.sectionl{
   padding:0;
   margin:0 auto;
}
#c5{
   position:absolute;
   top:2100px;
   left:640px;
   width:160px;
   height:160px;
   background-color:rgb(205,230,149);
   border-radius:50%;
   z-index:10;
}
#img1{
   position:absolute;
   top:2000px;
   left:600px;
   z-index:30;
}
#imgc1{
   position:absolute;
   top:2100px;
   left:730px;
   z-index:20;
}
#img2{
   position:absolute;
   top:2250px;
   left:200px;
   z-index:30;
}
#c6{
   position:absolute;
   top:2350px;
   left:170px;
   width:230px;
   height:230px;
   background-color:rgb(205,230,149);
   border-radius:50%;
   z-index:10;
}
#c7{
   position:absolute;
   top:2720px;
   left:640px;
   width:160px;
   height:160px;
   background-color:rgb(205,230,149);
   border-radius:50%;
   z-index:10;
}
#img3{
   position:absolute;
   top:2770px;
   left:570px;
   z-index:30;
}
.evenblock{
   margin-top:150px;
   margin-left:80px;
}
.oddblock{
   margin-top:200px;
   margin-left:340px;
}
#imgc2{
   position:absolute;
   top:2750px;
   left:770px;
   z-index:20;
}
#c8{
   position:absolute;
   top:3040px;
   left:110px;
   width:230px;
   height:230px;
   background-color:rgb(205,230,149);
   border-radius:50%;
   z-index:10;
}

#comments{
   margin-left:80px;
   
}
#prev{
   color:rgb(105,130,49);
   border:none;
   background-color:transparent;
   font-size:80px;
   position:absolute;
   top:3550px;
   left:100px;
}
#next{
   color:rgb(105,130,49);
   border:none;
   background-color:transparent;
   font-size:80px;
   position:absolute;
   top:3550px;
   right:100px;
}
#com{
   border: 1px solid rgb(105,130,49);
   width:630px;
   margin-left:10px;
   margin-bottom:10px;
   padding:10px 10px;
}
#comimg{
   float:left;
   margin-top:20px;
}
#com p{
   width:600px;
   text-align:justify;
}
#com h3{
   text-align:left;
   font-size:30px;
   margin:5px;
   
}
#comments{
   text-align:center;
}
.page{
   background-color:transparent;
   border-radius:50%;
   border:1px solid rgb(105,130,49);
   padding:0 6px;
}
.active{
   background-color:rgb(105,130,49);
   
}
#sectionl{
   margin-bottom:0;
   padding-bottom:0;
}
#contacts{
   background-color:rgb(105,130,49);   
   width:340px;
   height:270px;
   border:none;
   color:white;
   position:relative;
   z-index:30;
   top:-750px;
   padding:20px 20px;
   margin:0;
}
#footer{
   background-color:rgb(105,130,49);   
   margin-top:-310px;
   margin-bottom:0;
   width:800px;
   color:white;
   font-size:40px;
   text-align:center;
   padding:40px 120px;
}*/