@import 'mixins';
@import 'vars';
/****************************************************
 global bloks
****************************************************/
body{
  background-color: @body__background;
  padding:0;
  margin:0;
}
.container {
  margin: 0 auto;
  background-color: @body__container;
  width: 80%;
  height: 5000px;
  position: static;
}
/*section{ 
  width: 100%;
}*/
.wrapper {
  margin: 10px auto;
  width: 85%;
  position: static;
}
section h2 {
  position: relative;
  margin-left: 35px;
  width:90%;
  font-size:30px;
  font-weight:bold;
  &::after {
    content: ' ';
    position: absolute;
    width:25px;
    height:10px;
    border-top:2px solid black;
    top:15px;
    left:-35px;
  }
}

p{
   font-size:20px;
   width:440px;
}
/****************************************************
 block header
****************************************************/
.header{
  margin:0;
  position:relative;
  height:650px;
  .logo{
    top:0;
    left: 0;
    background-color:@header__logo__background;
    color:@header__logo__color;
    border-radius: 0 0 100% 0;
    border-bottom: 34px solid @header__logo__background;
    padding: 50px 100px;
    margin-right: 25%;
    &__info{
      text-align:left;
      margin-top: -55px;
      margin-left: -25px;
      width: 550px;
    }
    &__title{
      font-size:55px;
      text-transform:uppercase;
      font-weight:100;
      margin-bottom: 0;
    } 
    &__desc {
      font-size:20px;
      margin-top:0;
    }
    &__button {
      .button(27px, 10px 30px, @header__logo__button);
      margin-top:0;
    }    
  }  
  &__photo{
    .position(absolute,right,0,40px,650px,650px,20);
    .background(cover,none,'../images/photo1.png',none);	
  }
  &__phone{
    font-weight:bold;
    .position(absolute,right,180px,30px,160px,40px,20);
    color:@header__phone__color;
  }
  &__circle1{
    .position(absolute,right,30px,135px,80px,80px,10);
    .background(none,@header__circle1,none,50%);
  }
  &__circle2{
    .position(absolute,right,160px,5px,40px,40px,10);
    .background(none,@header__circle2,none,50%);
  }
}

/****************************************************
 block about
****************************************************/
.about {
  height: 450px;
  position: relative;
  margin-top: 100px;
  &__link {
    color:@about__link;
    text-decoration:none;
    text-transform:uppercase;
    & span {
      padding-left:15px;
    }
  }
  &__circle1{
    .position(absolute,left,56%,19%,303px,303px,10);
    .background(contain,none,'../images/photo2.png',50%);
  }
  &__circle2{
    .position(absolute,left,50%,56%,156px,156px,20);
    .background(none,none,'../images/photo3.png',50%);
  }
}

/****************************************************
 block orders
****************************************************/

section.orders {
  margin:0 70px;
  padding:0;
  position: static;
  div{
    width:250px;
    margin-right:10px; 
  }
  .order {
    display:flex;
    justify-content:space-around;
    width:800px;
    padding:0; 
    &__item {
      &:first-child{
        background-color:@orders__item__background1;
      }
      &:nth-child(2){
        background-color:@orders__item__background2;
      }
      &:last-child{
        background-color:@orders__item__background3;
      }
      
    }
    &__numbers {
      position:relative;
      font-size:120px;
      z-index:10;
      color:@orders__numbers;
      margin-left:80px;
    }
    .info{
      position:relative;
      z-index:20;
      font-size:25px;
      color:@orders__info;
      margin-top:-90px;
      margin-left:20px;
      &__header{
        text-transform:lowercase;
        margin-bottom:0;
        font-size:17px;
      }
      &__subheader {
        margin-top:-5px;
        text-transform:uppercase;
        font-size:25px;
      }
      &__price{
        margin-top:-20px;
        font-weight:600;
      }
      &__button {
        .button(20px, 5px 30px, @orders__button);
        margin-top:30px;
        margin-bottom:50px; 
      }
    }
  }
}

/****************************************************
 block lessons
****************************************************/

section.lessons {
  margin:80px 70px 0 70px;
  padding:0;
  position: static;
  .item {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start; 
    position:relative;
    height:400px;
    &__info {
      width:440px;
      
    }
    &:nth-child(2n+1) {
      flex-direction:row-reverse;    
    }
    &__image {
      width:240px;
      position:relative;
      
      &__circle1 {
        .position(absolute,left,80px,80px,160px,160px,10);
        .background(none,@lessons__circle,none,50%);
      }
      &__photo1 {
        .position(absolute,left,35px,-40px,260px,360px,30);
        .background(cover,none,'../images/photo4.png',none);
      }
      &__images1 {
        .position(absolute,left,140px,40px,160px,160px,20);
        .background(cover,none,'../images/circles.png',50%);
      }
      
      &__circle2 {
        .position(absolute,left,-50px,40px,230px,230px,10);
        .background(none,@lessons__circle,none,50%);
      }
      &__photo2 {
        .position(absolute,left,-45px,-40px,260px,360px,30);
        .background(cover,none,'../images/photo5.png',none);
      }
      
      &__circle3 {
        .position(absolute,left,75px,-15px,160px,160px,10);
        .background(none,@lessons__circle,none,50%);
      }
      &__photo3 {
        .position(absolute,left,-35px,-40px,360px,360px,30);
        .background(cover,none,'../images/photo6.png',none);
      }
      &__images2 {
        .position(absolute,left,150px,-30px,160px,160px,20);
        .background(cover,none,'../images/circles.png',50%);
      }
      
      &__circle4 {
        .position(absolute,left,-80px,-10px,230px,230px,10);
        .background(none,@lessons__circle,none,50%);
      }
      &__photo4 {
        .position(absolute,left,-125px,-50px,400px,300px,30);
        .background(cover,none,'../images/photo7.png',none);
      }
    } 
  }
}

/****************************************************
 block comments
****************************************************/
.comments {
  margin:-40px 70px 0 70px;
  padding:0;
  position: static;
  &__box {
    position: relative;
    button {
      border:none;
      background-color:transparent;
      font-size:80px;
      position:absolute;
      color:@comments__button;
      
      
    }
    button#prev {
      top:40px;
      left:10px;
    }
    button#next {
      top:40px;
      right:-45px;      
    }
    &__item {
      border: 1px solid @comments__border;
      width:630px;
      margin-left:70px;
      margin-bottom:10px;
      padding:10px 10px;
    }
    &__photo {
      float:left;
      margin-top:20px;
      margin-right:60px;
      width:120px;
      height:120px;       
    }
    #comimg1  {
      .background(contain,none,'../images/test-1.png',50%);
    }
    #comimg2  {
      .background(contain,none,'../images/test-2.png',50%);
    }
    #comimg3  {
      .background(contain,none,'../images/test-3.png',50%);
    }
    &__page {      
      width:150px;
      margin:0 auto;
      span {
                
        display:inline-block;
        background-color:transparent;
        border-radius:50%;
        border:1px solid @comments__button;
        padding:0 6px;
        margin-left:15px;
        
      }
      span.active {
        background-color:@comments__button;
      }
    }
    &__text{
      width:600px;
      text-align:justify;
    }
    &__name {
      text-align:left;
      font-size:30px;
      margin:5px;
    }
  }
}

/*

#comments{
   margin-left:80px;
   
}
#prev{
   
   
   top:3550px;
   left:100px;
}
#next{
   color:rgb(105,130,49);
   border:none;
   background-color:transparent;
   font-size:80px;
   position:absolute;
   top:3550px;
   right:100px;
}
#com{
   border: 1px solid rgb(105,130,49);
   width:630px;
   margin-left:10px;
   margin-bottom:10px;
   padding:10px 10px;
}
#comimg{
   float:left;
   margin-top:20px;
}
#com p{
   width:600px;
   text-align:justify;
}
#com h3{
   text-align:left;
   font-size:30px;
   margin:5px;
   
}
#comments{
   text-align:center;
}
.page{
   background-color:transparent;
   border-radius:50%;
   border:1px solid rgb(105,130,49);
   padding:0 6px;
}
.active{
   background-color:rgb(105,130,49);
   
}
#sectionl{
   margin-bottom:0;
   padding-bottom:0;
}
#contacts{
   background-color:rgb(105,130,49);   
   width:340px;
   height:270px;
   border:none;
   color:white;
   position:relative;
   z-index:30;
   top:-750px;
   padding:20px 20px;
   margin:0;
}
#footer{
   background-color:rgb(105,130,49);   
   margin-top:-310px;
   margin-bottom:0;
   width:800px;
   color:white;
   font-size:40px;
   text-align:center;
   padding:40px 120px;
}*/