@body__background:#777777;
@body__container:#fdfdfd;

@header__logo__background:rgb(145,170,89);
@header__logo__color:#fff;
@header__logo__button:#fff;
@header__phone__color:#242514;
@header__circle1:rgb(205,230,149);
@header__circle2:rgb(225,250,169);

@about__link: rgb(105,130,49);;