section.about
  .wrapper 
    h2.about__title О пилатосе
    p.about__desc Пилатес соединяет элементы растяжки с элементами силовой тренеровки 
    p.about__desc Комплекс упражений укрепляет мышцы пресса и спины, улучшает гибкость мышц и связок, подвижность суставов и избавляет от дискомфорта в позвоночнике</a>
    p.about__desc 
      a(href="#").about__link Подробнее 
        span &gt; 
  .about__circle1 &nbsp; 
  .about__circle2 &nbsp;
