section#section2
  .wrapper 
    h2 О пилатосе
    p Пилатес соединяет элементы растяжки с элементами силовой тренеровки 
    p Комплекс упражений укрепляет мышцы пресса и спины, улучшает гибкость мышц и связок, подвижность суставов и избавляет от дискомфорта в позвоночнике</a>
    p 
      a(href="#") Подробнее 
        span &gt; 
  #c3 &nbsp; 
  #c4 &nbsp;
