section.comments
  .wrapper
    h2 Отзывы
    .comments__box
      button#prev
        include /images/arrow-left.svg
      .comments__box__item
        .comments__box__photo#comimg1
        h3.comments__box__name Вероника Кулешова
        .comments__box__info
          p.comments__box__age 25 лет
          include /images/vk-gray.svg
          include /images/instagram-gray.svg
        p.comments__box__text Хожу на&nbsp;пилатес уже пять месяцев. После десяти занятий уже увидела результат: тело поднялось, улучшилась осанка, появился пресс. И&nbsp;самое главное, пропал сильный изгиб поясничного отдела, который меня очень беспокоил.
        .comments__box__dotts &nbsp;
      button#next
        include /images/arrow-right.svg
    .comments__bottombox
      .comments__pagination  
        .comments__pagination.active#com1(title="comment 1") &nbsp;
        .comments__pagination#com2(title="comment 2") &nbsp;
        .comments__pagination#com3(title="comment 3") &nbsp;
