section.comments
  .wrapper
    h2 Отзывы
    .comments__box
      button#prev &lt;
      .comments__box__item
        .comments__box__photo#comimg1
        h3.comments__box__name Дарья Прокопенко
        p.comments__box__text Я уже три месяца хожу на пилатес и сбросила 20 килограмм. И получила коллоссальное удовольствие
      .comments__box__page  
        span.active#com1(title="comment 1") &nbsp;
        span#com2(title="comment 2") &nbsp;
        span#com3(title="comment 3") &nbsp;
      button#next &gt;
