section.comments
  .wrapper
    h2 Отзывы
    .comments__box
      button#prev
        include /images/arrow-left.svg
      .comments__box__item
        .comments__box__photo#comimg1
        h3.comments__box__name Дарья Прокопенко
        p.comments__box__text Я уже три месяца хожу на пилатес и сбросила 20 килограмм. И получила коллоссальное удовольствие
      button#next
        include /images/arrow-right.svg
    .comments__bottombox
      .comments__pagination  
        .comments__pagination.active#com1(title="comment 1") &nbsp;
        .comments__pagination#com2(title="comment 2") &nbsp;
        .comments__pagination#com3(title="comment 3") &nbsp;
