section#section3
  div.wrapper
    h2 Расписание и стоимость
    div#orders
      div#order1
        div.numbers 01
        div.orderinfo
          h3 уровень
          h4 новичок
          p.price 150 руб./занятие
          p пн. 9:00 - 10:00
          p ср. 9:00 - 10:00
          p пт. 9:00 - 10:00
          button Записаться
      div#order2
        div.numbers 02
        div.orderinfo
          h3 уровень
          h4 профи
          p.price 200 руб./занятие
          p пн. 14:00 - 15:30
          p ср. 14:00 - 15:30
          p пт. 14:00 - 15:30
          button Записаться
      div#order3
        div.numbers 03
        div.orderinfo
          h3 уровень
          h4 мастер
          p class="price">350 руб./занятие
          p пн. 20:00 - 21:30
          p ср. 20:00 - 21:30
          p пт. 20:00 - 21:30
          button Записаться