.footer
  .footer__flex
    p.footer__flex-text Pilates plus 2017 &copy;
    p.footer__flex-logo
      include /images/logo.svg
    p.footer__flex-social
      include /images/vk.svg
      include /images/facebook.svg
      include /images/instagram.svg
