header.header
  div.logo(style="background-image:url(header.svg)") &nbsp;
    .wrapper.header__wrapper
      div.header__menu
        div.header__menu-item
          include /images/logo.svg
        div.header__menu-item
          input#burger.header__menu-toggle(type="checkbox")
          label.header__menu-burger(for="burger")
            include /images/burger.svg
          .header__menu-open
            nav.header__menu-nav
              a.header__menu-link.header__menu-active о пилатосе
              a.header__menu-link расписание и стоимость
              a.header__menu-link как проходят занятия
              a.header__menu-link отзывы
              a.header__menu-link контакты
        div.header__menu-item
          .header__menu-phone +7 945 555 44 33
      div.logo__info 
        h1.logo__title Студия пилатоса
        p.logo__desc Твое здоровое тело через 30 занятий
        button.logo__button Смотреть расписание
    div.header__photo &nbsp;
    .header__circle1 &nbsp;
    .header__circle2 &nbsp;
