header.header
  div.logo &nbsp;
    div.logo__info 
      h1.logo__title Студия пилатоса
      p.logo__desc Твое здоровое тело через 30 занятий
      button.logo__button Смотреть расписание 
  div.header__photo &nbsp;
  .header__phone +7 945 555 44 33
  .header__circle1 &nbsp;
  .header__circle2 &nbsp;
