section#section1
  div#circle1 &nbsp;
    div#info 
      h1 Студия пилатоса
      p Твое здоровое тело через 30 занятий
      button#btn-order Смотреть расписание 
  div#photo1 &nbsp;
  #phone1 +7 945 555 44 33
  div#c2 &nbsp;
