section.lessons
  .wrapper
    h2 Как проходят занятия
    .item
      .item__info
        h3.item__info__header Дыхательные техники
        p.item__info__desc Специальные дыхательные 
          | упраэнения помогут сконцентрировать внимание и сфокусировать сохнание на мышцах тела
      .item__image
        div &nbsp
        .item__image__circle1 &nbsp;
        .item__image__photo1
        .item__image__images1
    .item 
      .item__info
        h3.item__info__header Разминка
        p.item__info__desc Перед началом занятий разогрев тела, прорабатываем мышцы шеи, спины, выполняем упражнения 
          | на баланс под спокойную музыку
      .item__image 
        div &nbsp     
        .item__image__circle2 &nbsp;
        .item__image__photo2
    .item
      .item__info
        h3.item__info__header Основной блок
        p.item__info__desc Упражнения выполняются на коврике без специального оборудования или с малым оборудованием
          | в медленном темпе
      .item__image
        div &nbsp
        .item__image__circle3 &nbsp;
        .item__image__photo3
        .item__image__images2
    .item
      .item__info
        h3.item__info__header Стрейчинг
        p.item__info__desc В конце выполняем специальные упражнения для развития гибкости, снятия усталости, стресса и 
          | мышечного напряжения  
      .item__image      
        div &nbsp
        .item__image__circle4 &nbsp;
        .item__image__photo4
