section.orders
  h2 Расписание и стоимость
  .order
    .order__item
      div.order__numbers 01
      div.info
        h3.info__header уровень
        h4.info__subheader новичок
        p.info__price 150 руб./занятие
        p.info__desc пн. 9:00 - 10:00
        p.info__desc ср. 9:00 - 10:00
        p.info__desc пт. 9:00 - 10:00
        button.info__button Записаться
    .order__item
      div.order__numbers 02
      div.info
        h3.info__header уровень
        h4.info__subheader профи
        p.info__price 200 руб./занятие
        p.info__desc пн. 14:00 - 15:30
        p.info__desc ср. 14:00 - 15:30
        p.info__desc пт. 14:00 - 15:30
        button.info__button Записаться
    .order__item
      div.order__numbers 03
      div.info
        h3.info__header уровень
        h4.info__subheader мастер
        p.info__price 350 руб./занятие
        p.info__desc пн. 20:00 - 21:30
        p.info__desc ср. 20:00 - 21:30
        p.info__desc пт. 20:00 - 21:30
        button.info__button Записаться